.dropdown-item {
  padding: 0.5rem;
  margin: 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.2s; 
  z-index: 500;
}

.dropdown-item:hover {
  background-color: rgb(240, 249, 255); 
  z-index: 500;
}
