.heading {
  position: sticky; 
  top: 0;
  padding: 10px;
  background-color: #cff3cf;
  display: flex;
  flex-direction: column;
  width: 26.36%;
}

.heading-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heading-title {
  font-size: 24px;
  color: #004d00; 
  margin: 0;
  font-weight: bold;
}

.heading-logout-button {
  width: 40px;
  height: 40px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%; 
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex; 
  align-items: center; 
  justify-content: center;
}

.heading-logout-button:hover {
  background-color: #45a049; 
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}

.heading-add-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heading-add-button:hover {
  background-color: #45a049;
}

.heading-mode-button {
  padding: 8px 12px;
  background-color: #f9fff9; 
  color: #004d00;
  border: 1px solid #99cc99;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.heading-mode-button:hover {
  background-color: #ccffcc;
}

.dropdown-container {
  position: relative;
  right: 120px
}

.dropdown-container .icon {
  font-size: 24px;
  cursor: pointer;
  color: #004d00; 
}

.dropdown-container .dropdown-item {
  padding: 8px 16px;
  background-color: #ffffff;
  color: #004d00;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-container .dropdown-item:hover {
  background-color: #f0fff0;
}

.theme-toggle-button {
  position: relative;
  width: 40px;
  height: 40px;     
  border: none;
  border-radius: 50%;
  background-color: #4CAF50; 
  color: white;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-toggle-button:hover {
  background-color: #45a049;
}

.heading.dark {
  background-color: #1c1c1c;
  color: #f0f0f0; 
}
